<p>Create your Burrito!</p>

<form action="/create" method="POST">
	
	<label>Sourcream</label>
	<input type="text" name="burrito[sourcream]" value="0">
	
	<label>Mild Salsa</label>
	<input type="text" name="burrito[salsa_mild]" value="0">
	
	<label>Hot Salsa</label>
	<input type="text" name="burrito[salsa_hot]" value="0">
	
	<label>Pico Salsa</label>
	<input type="text" name="burrito[salsa_pico]" value="0">
	
	<label>Guac</label>
	<input type="text" name="burrito[guac]" value="0">
	
	<label>Black Beans</label>
	<input type="text" name="burrito[beans_black]" value="0">
	
	<label>Pinto Beans</label>
	<input type="text" name="burrito[beans_pinto]" value="0">
	
	<label>Rice</label>
	<input type="text" name="burrito[rice]" value="0">
	
	<label>Cheese</label>
	<input type="text" name="burrito[cheese]" value="0">
	
	<label>Meat</label>
	<input type="text" name="burrito[meat]" value="0">

	<p><input type="submit" value="Save Burrito!"></p>
</form>